# Системные файлы macOS
.DS_Store
.AppleDouble
.LSOverride

# Зависимости (если используете npm/yarn)
node_modules/
npm-debug.log*

# Конфиденциальные данные
.env
*.log
resume.md

# Файлы редакторов
.vscode/
.idea/

# Специфично для верстки и билдов
dist/
build/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
